# Arquivo .env
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Docker logs e temporários
*.log
.DS_Store

# Banco de dados local
*.db
*.sqlite3
